@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --bg: #fbf7f5;
  --onPrimary: #121212;
  background-color: var(--bg);
  color: var(--onPrimary);
}

body.dark {
  --bg: #121212;
  --onPrimary: #fbf7f5;
}
